*{
    margin:0px;
    padding:0px;
    
}  
a{
    font-size:130%; 
    color:#1d110d;
    text-align: left;
    margin-left: 4vw;
    font-family: 'Playfair Display', serif;
}
P{
    font-size:120%;
    text-align: left;
    margin-left: 6vw;
    font-family: 'Playfair Display', serif;
}
h1{
    color:rgb(89, 32, 32);
    font-family: 'Lobster Two', cursive;
    font-size: 15vh;
    text-align:center;
    
}
h2{
    font-size:5vh;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.background{
    height: auto;
    width:AUTO;
    background-color:rgb(22, 23, 22);

    display: flex;
    align-items: center;
    justify-content: center;
}
.seckondlayer{
   
    background-color:tan;
    border-radius: 5%; 
    align-items: center;
}

.colum{

    background-color: transparent;
    float: left;
    width: 40%;
    margin: 3vw;

}
@media screen and (max-width: 1000px){
    img{
     width: 1vw;
     height:auto; 
    }

.colum{

    background-color: transparent;
    width: 100%;
    margin: 3vw;

}
}