*{
    margin:0;
    padding:0;
}
body{
    background-color:darkslategray
}
.inner{
    padding:3vw;
    width:80vw;
    /* height:100vh; */
    background-color:wheat;
    margin:0 auto;}
/* images */
.bug{
    width: 40vw;
    height:43vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../assets/imgs/buggy.png  );
    background-repeat: no-repeat;
    background-size: contain;
}
.nakie{
    width: 40vw;
    height:43vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../assets/imgs/wolf.png  );
    background-repeat: no-repeat;
    background-size: contain;
}
hr.new1{
    border: .25vh solid;
}

h1{
    text-align: center;
    line-height: 1.6;
    padding-left:5vw;
    padding-right:5vw;
}
h3{
    text-align: center;
    line-height: 1.6; 
     padding-left:5vw;
    padding-right:5vw;
}
h4{
    line-height: 1.6; 
     padding-left:5vw;
    padding-right:5vw;
}
p{
    padding-left:5vw;
    padding-right:5vw;
    line-height:1.6;
}
ul{
    padding-left:6vw;
    padding-right:6vw;
    line-height:1.6;
}
h2{
    text-align:center;
   
}
ul.a{
font-size:3.5vh;
font-weight:bold;
}
ul.b{
    font-size:2.5vh;
    font-weight:normal;
}
ul.c{
    font-size:2.5vh;
    font-weight:normal;
}
@media screen and (max-width: 1000px){
  .bug{
    width: 70vw;
    height:73vw;
  }
}