*{
    margin:0;
    padding:0;
    background-color:darkslategray;
}
a{
    background-color:transparent;
}
strong{
    background-color: transparent;
}
p{
    text-align: center;
    background-color:transparent;
    width:56;
}
h1{
    text-align: center;
    background-color:transparent;
}
/* base text */
h2{
    background-color:transparent;
    font-size: 1.5vw;
    text-indent: 4vw;
    font-weight: normal;
    line-height: 1.6;
    padding-left:5vw;
    padding-right:5vw;
}
h6{
    background-color:transparent;
    font-family: 'Homemade Apple', cursive;
    font-size: .9vw;
    text-indent: 3vw;
}
/* gen text div */
.alt{
    padding:1vw;
    background-color:transparent;
    width:40vw;
    margin:0 auto;
   
}
.alttwo{
    padding:1vw;
    background-color:transparent;
    width:70vw;
    margin:0 auto;
   
}
/*paper style backing*/
.sheet{
    padding:1vw;
    background-color:whitesmoke;
    width:40vw;
    height:50vw;
    margin:0 auto;
}
/* the inner tan area */
.outter{
    padding:3vw;
    width:80vw;
    background-color:wheat;
    margin:0 auto;

}
/* doab image */
.booklet{
   width: 40vw;
   height:33vw;
   margin:auto;
   background-image: url(../assets/imgs/booklet.jpg);
   background-repeat: no-repeat;
   background-size: cover;

} 

@media screen and (max-width: 1000px){
    h2{
        font-size: 100%;
        text-indent: 3vw;
        font-weight: normal;
        background-size: contain;
        
    }
    .alt{
        padding:1vw;
        background-color:transparent;
        width:70vw;
        margin:0 auto;
       
    }
}